<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <div class="container-fluid">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
      <app-login></app-login>
      <a href="#" class="forgot-password">
      Forgot the password?
    </a>
  </div><!-- /card-container -->
</div>
<nav>
  <a routerLink="register" class="forgot-password">Register</a>
</nav>
<div class="container">
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
</div>


